<div>
  <div class="form-group col-md-4" style="margin-top:20px;">
    <input type="text" class="form-control" (input)="search($event.target.value)"  placeholder="Enter Keyword for filter result" 
     [(ngModel)]="searchedKeyword">
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">API</th>
        <th scope="col">Description</th>
        <th scope="col">Auth</th>
        <th scope="col">HTTPS</th>
      </tr>
    </thead>
    <tbody>
      <mat-spinner class="spinner" *ngIf="products.length == 0"></mat-spinner>
   

      <tr *ngFor="let product of products | filterText:searchedKeyword:'API' | paginate: { itemsPerPage: 100, currentPage: pageNumber }">
        <td>{{product.API}}</td>
        <td>{{product.Description}}</td>
        <td>{{product.Auth}}</td>
        <td>{{product.HTTPS}}</td>
      </tr>
    </tbody>
    <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>

  </table>
</div>