<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">API</th>
        <th scope="col">Description</th>
        <th scope="col">Auth</th>
        <th scope="col">HTTPS</th>
      </tr>
    </thead>
    <tbody>
      <mat-spinner class="spinner" *ngIf="products.length == 0"></mat-spinner>
      <tr *ngFor="let product of products | paginate: { itemsPerPage: 100, currentPage: pageNumber }">
        <td>{{product.API}}</td>
        <td>{{product.Description}}</td>
        <td>{{product.Auth}}</td>
        <td>{{product.HTTPS}}</td>
      </tr>
    </tbody>
    <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>

  </table>
</div>